.mat-card__list {
    border-radius: 25px;
}

::ng-deep .tooltip-card {
    background: #033A92;
    color: white;
}

@media screen and (max-width: 480px) {

    // Image
    mat-card img {
        object-fit: cover;
        height: 250px;
    }

}

@media screen and (min-width: 481px) {

    // Image
    mat-card img {
        object-fit: cover;
        height: 350px;
    }

}

// Header
.mat-card-header__list {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

.mat-card-header-text__list {
    font-size: medium;
}

.mat-card-image__list-play {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}

// Content
.mat-card-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: small;
    margin-right: 10px;
}